In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
body = []

In [6]:
title_tags = driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody")
for i in title_tags:
    title = i.text
    body.append(title)

In [7]:
body

['"Baby Shark Dance"[6] Pinkfong Baby Shark - Kids\' Songs & Stories 13.84 June 17, 2016 [A]\n"Despacito"[9] Luis Fonsi 8.34 January 12, 2017 [B]\n"Johny Johny Yes Papa"[17] LooLoo Kids - Nursery Rhymes and Children\'s Songs 6.86 October 8, 2016\n"Bath Song"[18] Cocomelon - Nursery Rhymes 6.55 May 2, 2018\n"Shape of You"[19] Ed Sheeran 6.17 January 30, 2017 [C]\n"See You Again"[22] Wiz Khalifa 6.13 April 6, 2015 [D]\n"Wheels on the Bus"[27] Cocomelon - Nursery Rhymes 5.79 May 24, 2018\n"Phonics Song with Two Words"[28] ChuChu TV Nursery Rhymes & Kids Songs 5.63 March 6, 2014\n"Uptown Funk"[29] Mark Ronson 5.12 November 19, 2014\n"Learning Colors – Colorful Eggs on a Farm"[30] Miroshka TV 5.04 February 27, 2018\n"Gangnam Style"[31] Psy 5.00 July 15, 2012 [E]\n"Masha and the Bear – Recipe for Disaster"[36] Get Movies 4.57 January 31, 2012\n"Dame Tu Cosita"[37] Ultra Records 4.51 April 5, 2018\n"Axel F"[38] Crazy Frog 4.24 June 16, 2009\n"Sugar"[39] Maroon 5 3.98 January 14, 2015\n"Counting Stars"[40] OneRepublic 3.94 May 31, 2013\n"Roar"[41] Katy Perry 3.93 September 5, 2013\n"Baa Baa Black Sheep"[42] Cocomelon - Nursery Rhymes 3.90 June 25, 2018\n"Lakdi Ki Kathi"[43] Jingle Toons 3.82 June 14, 2018\n"Waka Waka (This Time for Africa)"[44] Shakira 3.81 June 4, 2010\n"Sorry"[45] Justin Bieber 3.75 October 22, 2015\n"Thinking Out Loud"[46] Ed Sheeran 3.71 October 7, 2014\n"Humpty the train on a fruits ride"[47] Kiddiestv Hindi - Nursery Rhymes & Kids Songs 3.68 January 26, 2018\n"Dark Horse"[48] Katy Perry 3.65 February 20, 2014\n"Perfect"[49] Ed Sheeran 3.63 November 9, 2017\n"Shree Hanuman Chalisa"[50] T-Series Bhakti Sagar 3.61 May 10, 2011\n"Let Her Go"[51] Passenger 3.58 July 25, 2012\n"Faded"[52] Alan Walker 3.57 December 3, 2015\n"Girls Like You"[53] Maroon 5 3.54 May 31, 2018\n"Lean On"[54] Major Lazer Official 3.52 March 22, 2015']

In [8]:
import pandas as pd
df = pd.DataFrame({'Name Artist Views UploadDate':body})
df

                        Name Artist Views UploadDate
0  "Baby Shark Dance"[6] Pinkfong Baby Shark - Ki...

In [ ]:
#2

In [14]:
driver = webdriver.Chrome()

In [15]:
 driver.get("https://www.bcci.tv/fixtures?platform=international&type=men")

In [13]:
search = driver.find_element(By.CLASS_NAME,"border-0 ")
search.click()

In [21]:
series_1 = []
place_2 = []
data_1 = []
time_1 = []

In [25]:
seri = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in seri:
    series_1.append(i.text)

In [18]:
series_1

['AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'INDIA TOUR OF SOUTH AFRICA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AFGHANISTAN TOUR OF INDIA 2023-24',
 'AFGHANISTAN TOUR OF INDIA 2023-24',
 'AFGHANISTAN TOUR OF INDIA 2023-24',
 'ENGLAND TOUR OF INDIA 2023-24']

In [22]:
plac = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in plac:
    place_2.append(i.text)

In [28]:
dat = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in dat:
    data_1.append(i.text)

In [30]:
tim = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in tim:
    time_1.append(i.text)

In [32]:
import pandas as pd
df = pd.DataFrame({'Series':series_1,'Place':place_2,'Date':data_1,'Time':time_1})
df

,Series,Place,Date,Time
0,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,Mumbai,"2 JANUARY, 2024",1:30 PM IST
1,INDIA TOUR OF SOUTH AFRICA 2023-24,Cape Town,"3 JANUARY, 2024",1:30 PM IST
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,NAVI MUMBAI,"5 JANUARY, 2024",7:00 PM IST
3,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,NAVI MUMBAI,"7 JANUARY, 2024",7:00 PM IST
4,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,NAVI MUMBAI,"9 JANUARY, 2024",7:00 PM IST
5,AFGHANISTAN TOUR OF INDIA 2023-24,Mohali,"11 JANUARY, 2024",7:00 PM IST
6,AFGHANISTAN TOUR OF INDIA 2023-24,Indore,"14 JANUARY, 2024",7:00 PM IST
7,AFGHANISTAN TOUR OF INDIA 2023-24,Bengaluru,"17 JANUARY, 2024",7:00 PM IST
8,ENGLAND TOUR OF INDIA 2023-24,Hyderabad,"25 JANUARY, 2024",9:30 AM IST

In [ ]:
#3

In [35]:
driver = webdriver.Chrome()

In [36]:
driver.get("https://statisticstimes.com/economy/india/indian-states-gdp.php")

In [56]:
state_1 = []
gdp_1 = []
gdp_2 = []
share_1 = []
gdp_3 = []

In [63]:
gdp_4 = []

In [74]:
share_2 = []

In [57]:
stat = driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in stat[0:33]:
    state_1.append(i.text)

In [60]:
gd = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gd[0:33]:
    gdp_1.append(i.text)

In [64]:
gdp = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gdp[0:33]:
    gdp_4.append(i.text)

In [76]:
sha = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in sha[0:33]:
    share_2.append(i.text)

In [66]:
gdpp = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gdpp[0:33]:
    gdp_3.append(i.text)

In [79]:
import pandas as pd
df = pd.DataFrame({'State':state_1,'GSDP(18-19)':gdp_1,'GSDP(19-20)':gdp_4,'Share':share_2,'GDP':gdp_3})
df

                        State GSDP(18-19) GSDP(19-20)   Share      GDP
0                 Maharashtra   3,108,022           -   0.04%  417.163
1                  Tamil Nadu   2,071,286           -   0.12%  278.011
2               Uttar Pradesh   1,974,532           -   0.14%  265.024
3                   Karnataka   1,962,725           -   0.15%  263.440
4                     Gujarat   1,937,066           -   0.16%  259.996
5                 West Bengal   1,363,926           -   0.16%  183.068
6                   Rajasthan   1,218,193           -   0.17%  163.507
7              Madhya Pradesh   1,136,137           -   0.19%  152.494
8              Andhra Pradesh   1,133,837           -   0.19%  152.185
9                   Telangana   1,128,907           -   0.27%  151.523
10                     Kerala     932,470           -   0.35%  125.157
11                      Delhi     904,642      42,697   0.75%  121.422
12                    Haryana     870,665      42,756   0.85%  116.862
13                     Odisha     670,881      72,636   1.16%   90.047
14                      Bihar     650,302     195,405   1.53%   87.284
15                     Punjab     614,227     227,927   1.73%   82.442
16                      Assam     412,612     302,621   1.76%   55.381
17               Chhattisgarh     406,416     393,722   2.62%   54.550
18                  Jharkhand     358,863     457,608   2.77%   48.167
19                Uttarakhand     272,159     493,167   2.86%   36.530
20         Jammu & Kashmir-UT     199,917     673,107   3.71%   26.833
21           Himachal Pradesh     176,269     751,396   3.85%   23.659
22                        Goa      82,604     774,869   3.97%   11.087
23                    Tripura      62,550     994,154   4.81%    8.396
24                 Chandigarh      45,635   1,043,759   4.83%    6.125
25                 Puducherry      44,238   1,313,391   4.84%    5.938
26                  Meghalaya      38,785   1,317,728   5.19%    5.206
27                     Sikkim      37,557   1,322,821   5.81%    5.041
28                    Manipur      36,594   1,413,620   8.25%    4.912
29          Arunachal Pradesh      35,124   1,554,992   8.36%    4.714
30                   Nagaland      31,913   2,241,368   8.41%    4.283
31                    Mizoram      27,824   2,257,575   8.82%    3.735
32  Andaman & Nicobar Islands      10,371   2,364,514  13.24%    1.392

In [78]:
print(len(state_1),len(gdp_1),len(gdp_4),len(share_2),len(gdp_3))

33 33 33 33 33

In [ ]:
#4

In [80]:
driver = webdriver.Chrome()

In [82]:
driver.get("https://github.com/trending")

In [83]:
title_3 = []
des_1 = []
count_1 = []
lang_1 = []

In [109]:
count_2 = []
title_4 = []

lang_2 = []

In [98]:
des_2 = []

In [110]:
titl = driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in titl[0:20]:
    title_4.append(i.text)

In [99]:
desc = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc[0:20]:
    des_2.append(i.text)

In [117]:
len = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in len[0:20]:
    lang_2.append(i.text)

In [112]:
count = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in count[0:20]:
    count_2.append(i.text)

In [118]:
print(len(des_2),len(title_4),len(count_2),len(lang_2))

20 20 20 20

In [119]:
import pandas as pd
df = pd.DataFrame({'Repository title':title_4,'Repository description':des_2,'Contributors count':count_2,'Language':lang_2})
df

,Repository title,Repository description,Contributors count,Language
0,movie-web /,A small web app for watching movies and shows ...,"2,044 stars today",TypeScript
1,donnemartin /,Learn how to design large-scale systems. Prep ...,138 stars today,Python
2,KRTirtho /,🎧 Open source Spotify client that doesn't requ...,604 stars today,Dart
3,lllyasviel /,Focus on prompting and generating,75 stars today,Python
4,Universidade-Livre /,Na Rinha de Algoritmos você deve utilizar suas...,21 stars today,JavaScript
5,mlabonne /,Course to get into Large Language Models (LLMs...,347 stars today,Jupyter Notebook
6,successfulstudy /,In the evolving world of Large Language Models...,252 stars today,C
7,flowdriveai /,flow-pilot is an openpilot based driver assist...,114 stars today,Python
8,paperless-ngx /,A community-supported supercharged version of ...,62 stars today,TypeScript
9,krishnaik06 /,"Building a modern alternative to Salesforce, p...",55 stars today,Python
10,twentyhq /," Now we have become very big, Different from ...",333 stars today,JavaScript
11,joaomdmoura /,Telegram for Android source,152 stars today,Java
12,jaywcjlove /,"Explore, analyze, and gain valuable data & ins...",155 stars today,JavaScript
13,DrKLO /,Bitcoin Core integration/staging tree,15 stars today,Shell
14,safak /,freeCodeCamp.org's open-source codebase and cu...,5 stars today,C++
15,anasfik /,Atomicals CLI and Javascript Library,105 stars today,TypeScript
16,Tongji-KGLLM /,openpilot is an open source driver assistance ...,19 stars today,TypeScript
17,bitcoin /,Papers from the computer science community to ...,22 stars today,Python
18,freeCodeCamp /,Omakase Ruby styling for Rails,87 stars today,Shell
19,atomicals /,lua `fork` of vim-web-devicons for neovim,27 stars today,Ruby

In [ ]:
#5

In [3]:
driver = webdriver.Chrome()

In [6]:
driver.get("https://www.billboard.com/charts/hot-100/")

In [7]:
song_1 =[]
artist_1 = []
last_1 = []
peak_1 = []
weeks_1 = []

In [8]:
song = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in song:
    song_1.append(i.text)

In [10]:
artist = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist:
    artist_1.append(i.text)

In [12]:
last = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
for i in last:
    last_1.append(i.text)

In [14]:
import pandas as pd
df = pd.DataFrame({'song name, artist, last week rank,peel rank, week on chart':last_1})
df

   song name, artist, last week rank,peel rank, week on chart
0   All I Want For Christmas Is You\nMariah Carey\...
1   Rockin' Around The Christmas Tree\nBrenda Lee\...
2             Jingle Bell Rock\nBobby Helms\n3\n3\n55
3                     Last Christmas\nWham!\n4\n4\n37
4        A Holly Jolly Christmas\nBurl Ives\n5\n4\n38
..                                                ...
95                 Winter Wonderland\nChloe\n-\n96\n1
96           Run For The Hills\nTate McRae\n69\n69\n2
97  Que Onda\nCalle 24 x Chino Pacas x Fuerza Regi...
98                  Great Gatsby\nRod Wave\n-\n30\n13
99  One Of The Girls\nThe Weeknd, JENNIE & Lily Ro...

[100 rows x 1 columns]

In [ ]:
#6

In [15]:
driver = webdriver.Chrome()

In [16]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [ ]:
#7

In [17]:
driver = webdriver.Chrome()

In [20]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [21]:
#requqest url not found

In [22]:
#8

In [23]:
driver = webdriver.Chrome()

In [24]:
driver.get("https://archive.ics.uci.edu")

In [25]:
data_2 = []
des_4 = []
attr_1 = []

In [26]:
dataa = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in dataa:
    data_2.append(i.text)

In [28]:
desc = driver.find_elements(By.XPATH,'//p[@class="truncate"]')
for i in desc:
    des_4.append(i.text)

In [30]:
attri = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-9"]')
for i in attri:
    attr_1.append(i.text)

In [32]:
import pandas as pd
df = pd.DataFrame({'Data Name':data_2,'Data Type':des_4,'No of Instance':attr_1})
df

,Data Name,Data Type,No of Instance
0,Iris,"A small classic dataset from Fisher, 1936. One...",Classification\n150 Instances\n4 Features
1,Dry Bean Dataset,"Images of 13,611 grains of 7 different registe...",Classification\n13.61K Instances\n16 Features
2,Rice (Cammeo and Osmancik),A total of 3810 rice grain's images were taken...,Classification\n3.81K Instances\n7 Features
3,Heart Disease,"4 databases: Cleveland, Hungary, Switzerland, ...",Classification\n303 Instances\n13 Features
4,Adult,Predict whether income exceeds $50K/yr based o...,Classification\n48.84K Instances\n14 Features
5,Wine,Using chemical analysis to determine the origi...,Classification\n178 Instances\n13 Features
6,Regensburg Pediatric Appendicitis,This repository holds the data from a cohort o...,Classification\n782 Instances\n59 Features
7,National Poll on Healthy Aging (NPHA),This is a subset of the NPHA dataset filtered ...,Classification\n714 Instances\n15 Features
8,Infrared Thermography Temperature,The Infrared Thermography Temperature Dataset ...,Regression\n1.02K Instances\n33 Features
9,Jute Pest,This dataset has 17 classes. Data are divided ...,"Classification, Other\n7.24K Instances\n17 Fea..."
10,Differentiated Thyroid Cancer Recurrence,This data set contains 13 clinicopathologic fe...,Classification\n383 Instances\n16 Features
11,Forty soybean cultivars from subsequent harvests,Soybean cultivation is one of the most importa...,"Classification, Regression, Clustering, Other\..."